@import "src/lib";

main.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 254px;
    height: 100vh;
    background-color:rgba($color: #ffffff, $alpha: 0.04);
    -webkit-backdrop-filter: blur(61px);
    backdrop-filter: blur(61px);
    display: flex;
    flex-direction: column;
    gap: 65px;
    .icon_close {
        padding: 34px 26px 0 0;
        img {
            float: right;
        }
    }
    nav.navigation {
        padding-left: 32px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 32px;
            list-style: none;
            li {
                a {
                    text-decoration: none;
                    color: $pTextColor;
                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }

}