@import "src/lib";

.container {
    width: 100vw;
	height: 100vh;
	background-size: cover;
    color: $white;
    position: relative;
    .slogan {
        position: absolute;
        top: 212px;
        left: 167px;
        text-transform: uppercase;
        span {
            font-weight: 600;
            margin-right: 28px;
            opacity: 25%;
        }
    }
}