@import "src/lib";

.header {
    position: fixed;
    top: 40px;
    left: 0px;
    padding-left: 55px;
	display: flex;
	justify-content: end;
	align-items: center;
    width: 100%;
    z-index: 1;
	img.logo {
        margin-right: 64px;
	}
    .hamburger {
        display: none;
    }
	hr {
		width: 473px;
        border-color: rgba($color: #ffffff, $alpha: 0.2515);
	}
	.navigation {
		min-width: 830px;
		height: 96px;
		padding: 39px 160px 0px 122px;
		background-color:rgba($color: #ffffff, $alpha: 0.04);
        -webkit-backdrop-filter: blur(61px);
		backdrop-filter: blur(61px);
		ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
            height: 100%;
            li {
                a {
                    opacity: 100%;
                    text-decoration: none;
                    color: $white;
                    span {
                        font-weight: 700;
                    }
                }
                &:has(> a.active) {
                    border-bottom: 3px solid white;
                }
                &:hover {
                    border-bottom: 3px solid rgba($color: $white, $alpha: 0.5021);
                }
            } 
		}
	}
}

@media screen and (min-width: 1441px) {
    .header {
        width: 100%;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        top: 0px;
        padding-left: 39px;
        display: flex;
        justify-content: space-between;
        hr {
            display: none;
        }
        .navigation {
            padding: 39px 46px 0px 48px;
            min-width: 450px;
            ul {
                li {
                    a {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 376px) {
    .header {
        align-items: start;
        justify-content: space-between;
        padding: 24px;
        width: 100vw;
        img.logo {
            margin-right: 0px;
            width: 40px;
            height: 40px;
        }
        .navigation {
            display: none;
        }
        .hamburger {
            display: block;  
            img {
                margin-right: 0px;
            }
        }
    }
}