@import './lib.scss';

:root {
    --white: #ffffff
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
}
.body-text {
    @include setFontFamily($Barlow);
    font-size: 18px;
    line-height: 32px;
    color: $pTextColor;
}
.nav-text {
    @include setFontFamily($Barlow-Condensed);
    font-size: 16px;
    letter-spacing: 2.7px;
    color: $pTextColor;
}

@media screen and (max-width: 768px) {
    .nav-text {
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    .body-text {
        font-size: 16px;
        line-height: 28px;
    }
}