@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

$white: #ffffff;
$hrBorderColor: #979797;
$pTextColor: #D0D6F9;
$Bellefair: 'Bellefair';
$Barlow: 'Barlow';
$Barlow-Condensed: 'Barlow Condensed';

@mixin setFontFamily($family, $weight: 400, $style: normal) {
    font-family: $family, serif;
	font-weight: $weight;
	font-style: $style;
}