@import "src/lib";

main.main {
    padding: 198px 0 0 167px;
    display: flex;
    justify-content: space-between;
    section.image {
        display: flex;
        justify-content: start;
        width: 615px;
        height: 700px;
        img {
            max-width: 100%;
        }
    }
    section.left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 614px;
        padding-bottom: 94px;
        .content {
            width: 100%;
            height: 100%;
            padding-top: 202px;
            .role {
                text-transform: uppercase;
                margin-bottom: 15px;
                opacity: 52.42%;
            }
            .name {
                text-transform: uppercase;
                margin-bottom: 27px;
            }
            .bio {
                width: 444px;
            }
        }
        ul.select {
            display: flex;
            gap: 50px;
            list-style: none;
            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border-color: #979797;
                background-color: $white;
                opacity: 17.44%;
                a {
                    display: block;
                    width: 15px;
                    height: 15px;
                    
                }
                &:hover {
                    background-color: $white;
                    opacity: 50%;
                }
                &:has(> a.active) {
                    background-color: $white;
                    opacity: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main.main {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        gap: 40px;
        padding: 220px 0 0 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        section.left {
            height: auto;
            width: 100%;
            align-items: center;
            gap: 40px;
            padding-bottom: 0;
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0;
                .role {
                    margin-bottom: 8px;
                }
                .name {
                    margin-bottom: 16px;
                }
                .bio {
                    width: 592px;
                    text-align: center;
                    text-wrap: balance;
                }
            }
        }
        section.image {
            width: 456px;
            height: 532px;
            img {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 376px) {
    main.main {
        padding: 139px 0 0 0;
        gap: 33px;
        section.left {
            gap: 32px;
            order: 2;
            .content {
                order: 2;
                .role {
                    font-size: 16px;
                }
                p.bio {
                    width: 327px;
                    text-wrap: balance;
                }
            }
            ul.select {
                gap: 16px;
                order: 1;
                li {
                    width: 10px;
                    height: 10px;
                    a {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
        section.image {
            border-bottom: 1px solid rgba($color: #384b4b, $alpha: 1.0);
            width: 327px;
            height: 222px;
            order: 1;
            img {
                width: 177px;
            }
        }
    }
}