@use 'src/lib' as global;

main.container {
    padding: 272px 0 0 165px;
    display: flex;
    align-items: center;
    nav.select {
        display: flex;
        flex-direction: column;
        gap: 32px;
        a {
            text-decoration: none;
            .number {
                letter-spacing: 2px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: transparent;
                color: global.$white;
                border: 1px solid rgba($color: global.$white, $alpha: 0.25);
                text-align: center;
                line-height: 80px;
            }
            &:hover {
                .number {
                    border: 1px solid rgba($color: global.$white, $alpha: 1);
                }
            }
            &.active .number {
                background-color: global.$white;
                color: #0C0F19;
            }
        }
    }
    section.content {
        margin-left: 80px;
        margin-right: 130px;
        color: #d0d6f9;
        .name {
            text-transform: uppercase;
            margin: 11px auto 17px auto;
        }
        .description {
            max-width: 444px;
        }
    }
}

@media only screen and (max-width: 768px) {
    main.container {
        flex-direction: column;
        align-items: center;
        padding: 220px 0 0 0;
        nav.select {
            flex-direction: row;
            margin-top: 56px;
            margin-bottom: 44px;
            order: 2;
            a {
                .number {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                }
            }
        }
        section.content {
            width: 458px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            margin: 0;
            order: 3;
            .description {
                max-width: 458px;
                text-align: center;
            }
            .name {
                margin: 0;
            }
        }
        section.image {
            order: 1;
            height: 310px;
            width: 100%;
        }
    }
}